.asideTopAvatar {
    width: 110px;
    height: 110px;
    border: white 7px solid;
    border-radius:70px ;
    position: absolute;
    top: 23px;
    background: url(./JYQp8A-xAJY.jpg) no-repeat, center, center;
    background-size: cover;
    cursor: pointer;
}