.settings {
    width: 7%;
    height: 90%;
    background: url(./settings-5-128.png) no-repeat top center;
    background-size: 58%;
    cursor: pointer;
  
    .settingsText {
      margin-top: 29px;
      color: white;
      font-size: 0.8em;
      cursor: pointer;
    }
  }
  