.buttonOfAccount {
    border: rgb(104, 98, 98) 1px solid;
    width: 50%;
    height: 40%;

    select {
        width: 100%;
        border: none;
        outline: none;
        background-color: rgb(230, 67, 67);
        border: rgb(230, 67, 67);
        color: white;
    }
}