.home {
    width: 7%;
    height: 90%;
    background: url(./home-5-128.png) no-repeat top center;
    background-size: 55%;
    cursor: pointer;

    .homeText{
        margin-top: 29px;
        margin-left: 6px;
        color: white;
        font-size: 0.8em;
        cursor: pointer;

        a{
            text-decoration: none;
            color: white;
          }
    }
}