.personality{
    height: 90%;
    width: 15%;
    border: 3px solid rgb(218, 33, 33);
    border-top: none;
    border-bottom: none;
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}